* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --dark-violet: hsl(278, 68%, 11%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --red: hsl(0, 100%, 66%);
    --active-input-gradient: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
    --br: 7.5px;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    /* overflow: scroll; */
}


.section {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width:100%;
    /* position: relative; */
}

.section__one {
    width: 100%;
    position: relative;
}

.section__one img {
    width: 100%;
    height: 100%;
    /* position: relative; */
}

.card {
    /* position: absolute; */
    color: var(--white)
    /* z-index: 1; */
}

.card-1 {
    width: 75%;
    /* height: 50%; */
    position: absolute;
    top: 15%;
    right: 5%;
}

.card-back {
    position: relative;
}

.card-cvc {
    position: absolute;
    top: 39.1%;
    right: 17%
}

.card-2 {
    /* width: 30%; */
    /* height: 50%; */
    width: 75%;
    /* height: 50%; */
    position: absolute;
    top: 50%;
    left: 5%;
    
}

.card-front {
    position: relative;
}

.card-logo{
    width: 20%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 5%;
    left: 5%;
}

.card-num {
    position: absolute;
    top: 52%;
    left: 11.5%;
    /* right: 11.5%; */
    transform: translateX(2%);
    letter-spacing: 2.5px;
    /* font-weight: bold; */
    font-size: 15px;
}

.card-name {
    position: absolute;
    top: 75%;
    left: 8%;
    font-size: 0.6rem;
}

.card-date {
    position: absolute;
    top: 75%;
    right: 8%;
    font-size: 0.6rem;
}

.card-1 img, .card-2 img {
    box-shadow: 10px 15px 15px 25px rgba(9, 9, 9, 0.05);
    border-radius: var(--br);
}

.section__two {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__two form {
    width: 89%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

label {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: bold;
    color: var(--dark-violet);
}

input[type="text"] {
    width: 100%;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;;
    padding: 0.7rem 0.9rem;
    border-radius: var(--br);
    border: 1px solid var(--light-grayish-violet);
    margin-top: 0.5rem;
}

input:focus, input:active{
    appearance: none;
    outline-style: none;
    border: 1px solid hsl(278, 94%, 30%);
}

::placeholder {
    color: var(--light-grayish-violet)
}

:-ms-input-placeholder {
    color: var(--light-grayish-violet)
}

.form-item {
    width: 100%;
    padding-bottom: 1rem;
}

.date-cvc {
    display: flex;
    gap: 15px;
}

.date-cvc-inner_1 {
    width: 50%;
}

.date-cvc-inner_2 {
    width: 50%;
}

.date-cvc-inner_input {
    display: flex;
    gap: 10px
}

button {
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    border: none;
    border-radius: var(--br);
    margin: 1rem 0 2rem;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--dark-violet);
    color: var(--white);
}

.completed {
    text-align: center;
    width: 89%;
}

.completed h2 {
    color: var(--dark-violet);
    font-size: 2rem;
    letter-spacing: 4px;
    padding: 1.5rem 0;
}

.completed p {
    color: var(--dark-grayish-violet);
    font-size: 1.1rem;
    letter-spacing: 2px;
    padding-bottom: 2.5rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}


@media screen and (min-width: 712px) {
    .section {
        flex-direction: row;
        height: 100vh;
    }

    .section__one {
        width: 60%;
        max-width: 300px;
    }

    .section__one img {
        width: 100%;
        height: 100%;
    }

    .card {
        /* position: absolute; */
        
        /* z-index: 1; */
    }
    
    .card-1 {
        /* position: relative; */
        width: 115%;
        /* height: 50%; */
        position: absolute;
        top: 55%;
        right: -55%;
        
    }
    
    .card-2 {
        /* width: 30%; */
        /* height: 50%; */
        width: 115%;
        /* height: 50%; */
        position: absolute;
        top: 22%;
        left: 15%;
    }

    .card-num {
        position: absolute;
        top: 52%;
        left: 7.5%;
        letter-spacing: 4.5px;
        /* font-weight: bold; */
        font-size: 15px;
    }

    .card-logo{
        width: 20%;
        height: auto;
        object-fit: contain;
        position: absolute;
        top: 5%;
        left: 5%;
    }

    .card-name {
        position: absolute;
        top: 75%;
        left: 8%;
        font-size: 0.875rem;
    }
    
    .card-date {
        position: absolute;
        top: 75%;
        right: 8%;
        font-size: 14px;
    }

    .card-cvc {
        position: absolute;
        top: 41%;
        right: 16%
    }

    .section__two {
        position: relative;
        padding-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section__two form {
        width: 55%;
        max-width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 15rem;
    }

    .completed {
        width: 89%;
        margin: 0 auto;
        max-width: 500px;
        margin-left: 15rem;
    }


    label {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 11.5px;
        font-weight: bold;
        color: var(--dark-violet);
    }
}





/* Attribution Styles */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }